<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Document sans nom</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>

<style>

.arrow-bottom a::after{
  
  background-repeat:no-repeat;
  width: 23px ;
  height: 14px;
}

a {
  color:#de2a3c;
  text-decoration:none;
}

a:hover {
  color: #333333;
}

.new-home-button a {
  display:block;
  width:130px;
  height:30px;
  background-color:#de2a3c;
  color:#ffffff;
  text-decoration:none;
  text-align:center;
  padding-top:20px;
padding-bottom:10px;
font-size:14px;
margin-top:20px;
font-family: 'Open Sans', sans-serif;
  }

.new-home-button a:hover{
  display:block;
  width:130px;
  height:30px;
  background-color:#e9e9e9;
  color:#de2a3c;
  text-decoration:none;
  text-align:center;
  padding-top:20px;
padding-bottom:10px;
font-size:14px;
margin-top:20px;
font-family: 'Open Sans', sans-serif;
  }
</style>

<body style="text-align: center; background:#f4f4f4; margin:0 auto;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td align="center" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>    </tr>
  </tbody>
</table>
<span style="text-align: right"></span>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>    </tr>
  </tbody>
</table>
<span style="text-align: right"></span>
<table width="570" border="0" cellspacing="0" cellpadding="0" style="background:#ffffff;margin-top:20px;margin-bottom:20px;">
  <tbody>
    <tr>
      <td style="padding-top: 15px;" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            
            <td align="right" valign="top"><span style="text-align:right; padding-bottom:10px;font-family: 'Open Sans', sans-serif; font-size:12px"></span></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td align="center" valign="middle" style=" height:250px!important; background: #de2a3c; padding-left: 15px; padding-right: 15px; padding-top: 20px; font-family: 'Open Sans', sans-serif; font-size: 60px; font-weight: 300; text-align: center; color: #ffffff;">WELCOME!</td>
    </tr>
    <tr>
      <td style=" background:#FFFFFF; padding-left: 28px; padding-right: 28px; padding-top: 20px; font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: justify; color:#4b4b4b;">
        <p style="color:#4b4b4b;line-height:20px;" >Dear <%= @first_name%>, </p>
        <p style="color:#4b4b4b;line-height:20px;">Welcome aboard our team! I am pleased to have you working with us. You were selected for employment due to the attributes that you displayed that appear to match the qualities I look for in an employee.</p>

        <p style="color:#4b4b4b;line-height:20px;" >I’m looking forward to seeing you grow and develop into an outstanding employee that exhibits a high level of care, concern, and compassion for others. I hope that you will find your work to be rewarding, challenging, and meaningful.
        </p>

        <p style="color:#4b4b4b;line-height:20px;" >I will expect your best each day. Know that I am concerned about your development and that my door is always open. The keys to your success will be being dependable, reliable, showing openness, follow-through, attentiveness, supervision, documentation, and following the policies and procedures. While doing these things you will be successful and so will [Company Name]. Your professional growth is of utmost concern for me personally, because if you are growing our clients will grow as well.
        </p>
        
        <p style="color:#4b4b4b;line-height:20px;" >Please take your time and review our yearly goals so that you can know what is expected and make a positive contribution. Again, I look forward to seeing you grow as a professional while enhancing the lives of the clients entrusted in your care.</p>
       
        </td>
    </tr>
    
    <tr>
      <td valign="top" style="padding-left:28px; padding-RIGHT:28px; padding-bottom:20px; background:#FFFFFF; font-family: 'Open Sans', sans-serif; font-size: 14px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
    
          <tr>
              <p style="color:#4b4b4b;line-height:20px;" >Yours sincerely,</p>
              <p style="color:#4b4b4b;line-height:20px;" ><strong>Aathresh</strong> </p></td>
          </tr>

          
        </tbody>
      </table>
        <p></p></td>
    </tr>
    
 
   
    
  </tbody>
</table></td>
    </tr>
  </tbody>
</table>

</body>
</html>